@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";


html, body,#__next {
  margin: 0;
  padding: 0;
}


.font-jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
}